---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </nav>
        </header>

        <h1>About Me</h1>
        <h2>... and my new Astro site!</h2>
        <p>
            Hi, I am Samuel, a full-stack Javascript developer, and this is my
            first experience with Astro! So far, I am loving how easy and
            intuitive it feels using this technology to spin up a website as I
            work through Astro's introductory tutorial.
        </p>
        <p>
            This site will update as I complete more of the tutorial, so please
            check back in later and see how my journey is going!
        </p>
    </body>
</html>
